iframe{
	height: 1000px;
	width: 100%;
	border-style: none;	
}
img.card-img-top{
	width: 75%; 
	height: 75%; 
	margin: auto;
	margin-top: 10px;
}
div.card-header{
	background:#e91e63; color: #fff; width: 70%; height: 100%; margin: auto; border-radius:10px;
}
div.card-header h1{
	font-size: 150%; text-align: center;
}
#body{
	background-image: -webkit-linear-gradient(0deg, #72e0ec 0%, #3e69fe 100%);
}

header {
  width: 68.75%;
  margin: 0 auto;
  margin-top: 6rem; 
}

@media (max-width: 1199px) {
  header {
    width: 90%;
  }
}

@media (max-width: 767px) {
  header {
    margin-top: 3rem;
     width: 97%; 
  }
}
#item1{
text-decoration: none; 
color: white; 
background-image: -webkit-linear-gradient(0deg, #3e69fe 0%, #4cd4e3 100%);
}

a.nav-link#item11{
	text-decoration: none;
	color:  #3e69fe ;
	border: 1px solid #999; 
	margin: 1px; 
	text-align: center;
	border-radius: 20px;
	background-color: #fff;
}
a.nav-link#item11:hover{
	text-decoration: none;
	color:  #ffffff ;
	border: 1px solid #fff;
	margin: 1px; 
	text-align: center;
	border-radius: 20px;
	background-image: -webkit-linear-gradient(0deg, #3e69fe 0%, #4cd4e3 100%);
}


main{
	width: 68.75%;
	margin: auto;
}

@media (max-width: 1199px) {
  main {
    width: 90%;
  }
}

@media (max-width: 767px) {
  main {
    margin-top: 3rem;
     width: 97%; 
  }
}

div#AD1{
	height: 100px; 
	background-color: white;
}

#AD1 img{
	width: 40%;
}

#row1{
	margin-left: 0px;
	margin-right: 0px;
    background-image: -webkit-linear-gradient(0deg, #3e69fe 0%, #4cd4e3 100%);
}

#row1 div {
	border-radius: 5px;
}

#row1 div h2{
	font-size: 24px;
	font-family: "Poppins", sans-serif;
}
#row1 div form div label {
	font-family: "Poppins", sans-serif;
}
#row1 div form div div input{
	line-height: 50px; 
	width: 100%; 
	padding: 0 180px 0 25px; 
	border: none; 
	border-radius: 25px; 
	background-color:#e9ecef;
}

#row1 div form div select{
	line-height: 50px; 
	width: 100%; 
	padding: 0 180px 0 25px; 
	border: none; 
	border-radius: 25px; 
	background-color:#e9ecef;
}
#row1 div form div textarea{
	line-height: 25px; 
	width: 100%; 
	padding: 0 180px 0 25px; 
	border: none; 
	border-radius: 25px; 
	background-color:#e9ecef;
}
#row1 div form div select option{
	line-height: 28px; 
	font-size: 15px;
	width: 100%; 
	padding: 0 50px 0 25px; 
	border: none; 
	border-radius: 25px; 
	background-color:#fff;
}

#row1 div form button {
	margin: auto;
	width: 75%;
	padding: 5px;
	border-radius: 20px; 
	border: none; 
	color: white;
	background-image: -webkit-linear-gradient(0deg, #3e69fe 0%, #4cd4e3 100%);
}

#row1 div a {
	text-decoration: none;
}

#row1 div a div {
	background-color: white; 
	border: 1px solid #999; 
	border-radius: 10px;
}

#row1 div a div h3 {
	color:  -webkit-linear-gradient(0deg, #3e69fe 0%, #4cd4e3 100%);
}

#row2 div a {
	text-decoration: none;
}

#row2 div a i.fa-facebook  {
	font-size:30px; 
	color:blue;
}
#row2 div a i.fa-youtube  {
	font-size:30px; 
	color:red;
}
#row2 div a i.fa-twitter  {
	font-size:30px; 
	color:cyan;
}

#AD2 div img{
 	height: 100%; 
 	width: 100%;
}

#notif {
	background-color: #f9f9ff; padding-top: 100px; padding-bottom: 100px;
}

#notif div{
	padding-right: 15px; 
	padding-left: 15px;
}
#notif div div{
	margin-bottom: 10px;
}
#notif div div h3{
	font-size: 24px; 
}
#notif div div span{
	font-size: 15px; 
	color: #777777;
}
#notif div div form{
	position: relative;
}
#notif div div form input{
	line-height: 50px; 
	width: 100%; 
	padding: 0 180px 0 25px; 
	border: none; 
	border-radius: 25px; 
	box-shadow: 0px 15px 50px 0px rgba(0,0,0,0.1);
}
#notif div div form button{
	position: absolute; 
	top: 50%; 
	transform: translateY(-50%); 
	right: 10px; 
	line-height: 40px; 
	padding: 0 30px; 
	border-radius: 20px; 
	border: none; 
	color: white;
	background-image: -webkit-linear-gradient(0deg, #3e69fe 0%, #4cd4e3 100%);
}

footer{
	width: 68.75%;
	margin: auto;
	padding: 5px;
	color: #ffffff;
	font-family: "Poppins", sans-serif;
}
@media (max-width: 1199px) {
  footer {
    width: 90%;
  }
}

@media (max-width: 767px) {
  footer {
    margin-top: 3rem;
     width: 97%; 
  }
}

footer div div h3{
	text-align: center;
	padding: 5px;
}

footer div div p{
	text-align: center;
}

footer div div p a{
	text-align: center;
}

#copyright{
	text-align: center;
	border-top: 1px solid white;
}

#demo{
	margin: auto;
}
.carousel-inner img {  
      width: 40%;  
      height: 260px; 
}  